<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="ko">
    <meta charset="UTF-8">
    <title>Timeline example</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "timeline.css" %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="{% static "timeline.js" %}"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</body>
</html>